[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/blazic
[access "refs/for/refs/*"]
	read = group user/blazic
	push = group user/blazic
	label-Code-Review = -2..+2 group user/blazic
	label-Verified = -1..+1 group user/blazic
	rebase = group user/blazic
	removeReviewer = group user/blazic
	submit = group user/blazic
[access "refs/heads/*"]
	read = group user/blazic
	create = group user/blazic
	push = +force group user/blazic
	pushMerge = group user/blazic
[access "refs/tags/*"]
	push = group user/blazic
	push = +force group user/blazic
